*.py[co]

# Packages
*.egg
*.egg-info
build
eggs
parts
var
dist
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
config.cfg
etc/invtool.conf
etc/invtool.conf.bak

# Stuff
inv
devinvtool
bug_*
*.sh  # top level scripts

*.csv
